input{
  border-radius: 5px;
  border:1px solid black;
}
.my-container{
  select{
    background: #FF5A5F;
    color:white;
    border-radius: 8px;
    border:none;
    padding: 3px;
  }


  button{
    background: #FF5A5F;
    color:white;
    border-radius: 8px;
    border:none;
    padding: 3px;
  }
}
