input,textarea{
  border-radius: 5px;
  border:1px solid grey;
}
.my-container{
  height: 100wh;
  background: white;

  select{
    background: #FF5A5F;
    color:white;
    border-radius: 8px;
    border:none;
    padding: 3px;
    max-width: 45px;
  }


  button{
    background: #FF5A5F;
    color:white;
    border-radius: 8px;
    border:none;
    padding: 3px;
  }
}
