// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#airbnb-logo{
  width: 34px;
}

#search-btn{
  background: #FF5A5F;
  color: white;
  padding: 10px 22px;
  border: none;
  outline:none;
  font-weight: 800;
  border-radius: 4px;
}

#map{
  height: 500px;
  width: 500px;
}

.apartment{
  .apartment-wrapper{
    cursor: pointer;
    a{
      text-decoration: none;
      color: black;
    }
  }
}

canvas{
  width:1000px;
  height:700px;
}

.address-search{
  width:300px;
}

.query-selector,.query-selector-spa{
  cursor: pointer;
}
