// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#airbnb-logo{
  width: 34px;
}

#map{
  height: 500px;
  width: 500px;
}

.apartment{
  .apartment-wrapper{
    cursor: pointer;
    a{
      text-decoration: none;
      color: black;
    }
  }
}

canvas{
  width:1000px;
  height:700px;
}

.address-search{
  width:300px;
}

.query-selector,.query-selector-spa{
  cursor: pointer;
}
